<section>
    <form action="" method="get">
        {% for field in form %}
            {{ field }}
        {% endfor %}
    <input type="submit" value="Get station list" />
    </form>
    <p>See below list of stations: </p>
    <!-- Need to account for stations that have multiple lines -->
    <ul>
        {% for station in station_list %}
            <li><a href="{% url 'transit:stationDetails' station.id %}">{{ station.name }}</a></li>
        {% endfor %}
    </ul>
</section>
<section>
    <p><a href="{% url 'transit:home' %}">Home</a></p>
</section>